@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
body {
  font-family: "PT Sans", sans-serif;
}
img.logo {
  background-image: linear-gradient(
    to bottom right,
    rgb(76, 40, 156),
    rgb(223, 153, 216)
  );
  padding: 5px;
  border: 2px solid #fff;
  border-radius: 15px;
}
.invalid-feedback {
  background-color: red;
  color: red;
}
