@import "custom";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Optional
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";

@font-face {
    font-family: "PT Sans", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap") format('truetype');
}

body {
  font-family: "PT Sans", sans-serif;
}
img.logo {
  background-image: linear-gradient(
    to bottom right,
    rgb(76, 40, 156),
    rgb(223, 153, 216)
  );
  padding: 5px;
  border: 2px solid #fff;
  border-radius: 15px;
}
.invalid-feedback {
  background-color: red;
  color: red;
}
